md-toolbar.page-caption{
  background-color:#5566c3;
  height: 50px;
  min-height: 50px;
}


/* GET : BLUE THEME */
.get-blue-theme{
  width: 100%;
  background-color: #e7f0f7;
  outline: none;
  font-size: 15px;
}

.get-blue-theme .header .method{
  text-transform: uppercase;
  text-decoration: none;
  background-color: #0f6ab4;
  color: white;
  display: inline-block;
  width: 50px;
  font-size: 12px;
  text-align: center;
  padding: 7px 0 4px;
}

.get-blue-theme .body{
  padding: 0 18px;
  border: 1px solid #c3d9ec;
  margin-left: 1px;
}

.get-blue-theme .body .urlStyle{
  color: #0f6ab4;
}

.get-blue-theme .header:hover {
  background-color: #c3d9ec;
  cursor: pointer;
}

/* POST : GREEN THEME */
.post-green-theme{
  width: 100%;
  background-color: #E7F6EC;
  outline: none;
  font-size: 15px;
}

.post-green-theme .header .method{
  text-transform: uppercase;
  text-decoration: none;
  background-color: #10a54a;
  color: white;
  display: inline-block;
  width: 50px;
  font-size: 12px;
  text-align: center;
  padding: 7px 0 4px;
}

.post-green-theme .body{
  padding: 0 18px;
  border: 1px solid #c3e8d1;
  margin-left: 1px;

}

.post-green-theme .body .urlStyle{
  color: #10a54a;
}

.post-green-theme .header:hover {
  background-color: #c3e8d1;
  cursor: pointer;
}


md-dialog{
  width:50%;
}

md-input-container {
  margin-bottom: 0;
}

/* PUT : ORANGE THEME */
.put-orange-theme{
  width: 100%;
  background-color: #f9f2e9;
  outline: none;
  font-size: 15px;
}

.put-orange-theme .header .method{
  text-transform: uppercase;
  text-decoration: none;
  background-color: #c5862b;
  color: white;
  display: inline-block;
  width: 50px;
  font-size: 12px;
  text-align: center;
  padding: 7px 0 4px;
}

.put-orange-theme .body{
  padding: 0 18px;
  border: 1px solid #f0e0ca;
  margin-left: 1px;
}

.put-orange-theme .body .urlStyle{
  color: #c5862b;
}

.put-orange-theme .header:hover {
  background-color: #f0e0ca;
  cursor: pointer;
}

/* DELETE : RED THEME */
.delete-red-theme{
  width: 100%;
  background-color: #f5e8e8;
  outline: none;
  font-size: 15px;
}

.delete-red-theme .header .method{
  text-transform: uppercase;
  text-decoration: none;
  background-color: #a41e22;
  color: white;
  display: inline-block;
  width: 50px;
  font-size: 11px;
  text-align: center;
  padding: 7px 0 4px;
}

.delete-red-theme .body{
  padding: 0 18px;
  border: 1px solid #e8c6c7;
  margin-left: 1px;
}

.delete-red-theme .body .urlStyle{
  color: #a41e22;
}

.delete-red-theme .header:hover {
  background-color: #e8c6c7;
  cursor: pointer;
}

