<div class="md-padding overflow-auto" ng-init="ca.fnInitCarglyAPI();">

    <div ng-if="!ca.apiData || ca.apiData.length == 0" layout="row" layout-align="center center" class="md-headline">No API To Display</div>

    <div class="margin-bottom-10"
         ng-class="$root.fnApplyStyle(api.method)" ng-repeat="api in ca.apiData">

        <div class="header" ng-click="ca.fnToggleGroup($index)">
            <span><a class="method" href="javascript:void(0);">{{api.method}} </a></span>
            <span class="margin-left-5"> {{api.action}} </span>
        </div>

        <div class="body" ng-show="api.active">
            <div class="margin-top-5" ng-if="api.url">
                <strong>URL : </strong>
                <span class="urlStyle">{{api.url}}</span>
            </div>

            <div class="margin-top-5" ng-if="api.responseHeader" layout="column">
                <strong>Response Header [ x-paging-cursor ] : </strong>
                <span class="urlStyle">{{api.responseHeader.xPagingCursor}}</span>
            </div>

            <div ng-if="api.reqData" class="margin-top-10" layout="column">
                <div>
                    <span class="example-label">Example </span>
                    <span class="padding-left-5">Request Body Data</span>
                </div>
                <pre class="ex-json">{{api.reqData | json}}</pre>
            </div>

            <div ng-if="api.response" class="margin-top-10" layout="column">
                <div>
                    <span class="example-label">Example </span>
                    <span class="padding-left-5">Response data</span>
                </div>
                <pre class="ex-json">{{api.response | json}}</pre>
            </div>

            <div ng-if="api.query" layout="column">
                <div>
                    <span class="example-label">Example </span>
                    <span class="padding-left-5">SQL</span>
                </div>
                <pre class="ex-json" ng-style="{'white-space':'normal','padding':'5px'}">{{api.query}}</pre>
            </div>
        </div>
    </div>

</div>
