<md-toolbar class=" md-primary" ng-init="main.fnInitMain()">
    <div class="md-toolbar-tools">
        <md-button aria-label="Menu Bar" ng-click="main.fnToggleSideNav('left')" class="md-icon-button">
            <md-icon md-font-set="fa fa-lg fa-fw fa-bars"></md-icon>
        </md-button>

        <div layout="row" flex>
            <span>Cargly API</span>
        </div>

    </div>
</md-toolbar>

<md-content layout="row" flex>
    <!-- Left Side Navigation : START-->
    <md-sidenav class="left-side-nav md-sidenav-left md-whiteframe-z2"
                layout="column"
                md-component-id="left"
                md-is-locked-open="main.isLockLeft && $mdMedia('gt-sm')"
                id="leftSideNav">
        <md-button ng-repeat="tab in main.sidenavData | orderBy:'name'" ng-class="main.fnIsActive(tab.urlPath)"
                   ng-click="$root.fnCloseSideNavs();" ui-sref="{{tab.sref}}">
            <md-icon md-font-set="{{tab.icon}}"></md-icon>
            &nbsp;{{tab.name}}
        </md-button>
        <md-button ng-class="main.fnIsActive('/calculation')"
                   ng-click="$root.fnCloseSideNavs();" ui-sref="main.calculation">
            <md-icon md-font-set="fa fa-lg fa-calculator"></md-icon>
            &nbsp;Calculation
        </md-button>
    </md-sidenav>
    <!-- Left Side Navigation : END-->

    <!-- Body content -->
    <md-content id="content" class="overflow-auto" layout="column" flex ui-view></md-content>
</md-content>
