<md-toolbar class="page-caption">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Locations API-List</h2>
    </div>
</md-toolbar>

<div id="location-module" class="md-padding overflow-auto" ng-init="location.fnInitLocation()">
    <div class="margin-bottom-10"
         ng-class="$root.fnApplyStyle(api.method)" ng-repeat="api in location.locationApiData">

        <div class="header" ng-click="location.toggleGroupLocation($index)">
            <span><a class="method" href="javascript:void(0);">{{api.method}} </a></span>
            <span class="margin-left-5">{{api.action}} </span>
        </div>

        <div class="body" ng-show="api.active">
            <p>
                <strong>URL : </strong>
                <span class="urlStyle">{{api.url}}</span>
            </p>

            <div ng-if="api.response" class="margin-top-10 margin-bottom-10" layout="column">
                <span class="margin-bottom-5">Example Response Data</span>
                <pre class="ex-json">{{api.response | json}}</pre>
            </div>

            <div ng-if="api.query" class="margin-top-10 margin-bottom-10" layout="column">
                <span class="margin-bottom-5">SQL</span>
                <textarea rows="7" ng-style="{'background-color':'#ffffdd'}">{{api.query}}</textarea>
            </div>
        </div>
    </div>

</div>
