
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <div>Add API Call</div>
    </div>
  </md-toolbar>

  <md-content layout-padding>
    <form name="apiForm">
      <div layout="column">

        <md-input-container>
          <label>Tab</label>
          <md-select ng-model="addapi.apiObj.tab">
            <md-option>dashboard</md-option>
            <md-option>location</md-option>
            <md-option>payment</md-option>
            <md-option></md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Action</label>
          <input required type="text" name="action" ng-model="addapi.apiObj.action">

          <div ng-messages="apiForm.action.$error">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Url</label>
          <input required type="text" name="url" ng-model="addapi.apiObj.url">

          <div ng-messages="apiForm.url.$error">
            <div ng-message="required">This field is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Method</label>
          <md-select ng-model="addapi.apiObj.method">
            <md-option>GET</md-option>
            <md-option>POST</md-option>
            <md-option>PUT</md-option>
            <md-option>DELETE</md-option>
          </md-select>
        </md-input-container>

        <md-input-container ng-if="addapi.apiObj.method == 'POST'">
          <label>Data</label>
          <textarea rows="7" placeholder="Data to send" ng-model="addapi.apiObj.postData"></textarea>
        </md-input-container>

        <md-input-container>

          <textarea rows="7" placeholder="Expected Response Data" ng-model="addapi.apiObj.response"></textarea>
        </md-input-container>

        <md-input-container>

          <textarea rows="7" placeholder="Query" ng-model="addapi.apiObj.query"></textarea>
        </md-input-container>


        <div layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="apiForm.$valid && addapi.fnAddApiCallToJson();">
            Save
          </md-button>
          <md-button class="md-raised md-warn">
            Cancel
          </md-button>
        </div>
      </div>
    </form>

  </md-content>



